@charset "UTF-8";

/* Estilo Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    max-width: 1280px;
    margin: auto;
}

.interface{
    max-width: 1280px;
}

/* Menu */

header{
    padding: 30px 4%;
    border-bottom: 1px solid black;
    background-color: rgba(163, 16, 24, 0.904);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header >.interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
    font-weight: 600;
}

header nav.menu-desktop a:hover{
    color: black;
    transform: scale(1.08);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

header .fale-conosco button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color:black;
    color: white;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
}

header .fale-conosco button:hover{
    background-color: white;
    color: black;
    transform: scale(1.08);
}

/* Main */

h1{
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

p{
    max-width: 70vw;
    padding: 20px 0px 0px 50px;
}