@charset "UTF-8";

/* Estilo Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}


.fale-conosco button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color:black;
    color: white;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
}
.fale-conosco button:hover{
    background-color: white;
    color: black;
    transform: scale(1.08);
}


/* Menu */

header{
    padding: 30px 4%;
    border-bottom: 1px solid black;
    background-color: cor 1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header >.interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{

    color: black;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    font-weight: 600;
}

header .menu-desktop a{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 15px;
}

header nav.menu-desktop a:hover{
    background-color: cor 2;
    transform: scale(1.08);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

/* Main */

main{
    background-color: blueviolet;
    display: flex;
}

main section{
    max-width: 1200px;
    margin: auto;
    margin-top: 5vh;
    height: 70vh;
    background-color: cor 1;
    border: 1px solid black;
    border-radius: 20px;
}

main h1{
    font-size: 2em;
    padding: 20px;
    text-align: center;
}

main p{
    max-width: 70vw;
    padding: 20px 0px 0px 50px;
}


/* Footer */

footer{
    padding: 50px 0px 0px 35px;
    background-color: rgb(25, 115, 194);
    border: solid 1px black;
    display: flex;
}

footer .fale-conosco{
    max-width: 1200px;
    width: 100vw;
}
