@charset "UTF-8";

/* Estilo Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu */

header{
    padding: 40px 4%;
}

header >.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.interface{
    max-width: 1280px;
    margin: auto;
}

nav.menu a{
    text-decoration: none;
    color: black;
    padding: 12px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
}

nav.menu a:hover{
    color: red;
    background-color: black;
    font-weight: bold;
}